@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
@font-face {
    font-family: "Myriad Pro";
    src: local("../css/8143.otf"), /* проверяем наличие шрифта в ОС пользователя */
         url("../css/8143.otf"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  height: 100%;
  position: relative;

  text-align: center;

}
.copy {
  color: #ccc;
  font-size: 14px;
  margin-top: 40px;
}
.copy span {
  color: #fff;
  font-weight: bold;
}
.copy a {
  color: #ffd500;
}
.risk {
  color: #ccc;
  font-size: 12px;
  margin-top: 50px;
}
.lol i {
color: #fff;
}
.lol  {
  font-size: 35px;
  background-color: #0a0b16;
  border: none;padding-top: 3px;
}

.top-nav {
    height: 42px;
    margin-top: 20px;
    line-height: 0;

}
.nav-forum .forum-btn {
  width: 128px;
  height: 42px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  float: left;
  display: none;
  border: 1px solid #ff5200;
  background-color: inherit;
  border-radius: 2px;
}
.nav-forum .forum-btn:hover {
  background-color: #ff5200;
  border: 1px solid #fff;
}
.nav-forum .forum-btn img{
  display: inline-block;
  position: relative;
  left: -8px;
}
.social-icons {
  float: right;
}
.social-icons div{
  display: inline-block;
  width: 35px;
  margin: 0 5px;
  background-image: url(../img/social-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  text-align: center;
  padding-top: 14px;

}
.social-icons div:hover {
  background-image: url(../img/social-bg2.png);
}
.social-icons div a {
  width: 100%;
  height: 26px;
  display: inline-block;
  color: #fff;

}
.social-icons div a img {
  display: inline-block;
  position: relative;
  top: -5px
}
.top-logo {
  position:absolute;
  left:46%;
  width: 150px;
  z-index: 10;

}
.top-logo img {
    width: 150px;
}

.menu {
  display: block;
  opacity: 0;
  list-style-type: none;
  padding-left: 0;
  line-height: 40px;
  font-size: 20px;
  margin-top: 32px;
  width: 450px;

  position: absolute;
  text-align: left;
  border-radius: 10px;
  top: 20px;
  left: 55px;
  background-color: #1a2937;
  z-index:20;
  transition: all 0.5s;
}
.menu div p {
  display: inline-block;
  padding: 0px 15px;
  margin-top: 15px;
  margin: 12px 15px;
  background-color: #ff6b02;
  font-weight: bold;
}
.menu div p a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.menu div p:hover a {
  text-decoration: underline;
}
.log {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #ff6b02;
}
.f-section-1 {
  display: none;
}
.menu-2 {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding-left: 0px;
  width: 50%;
  padding: 5px;
  line-height: 18px;
  background-color: #11212b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.link-menu2:hover .menu-2,
.link-menu2:focus .menu-2,
.link-menu2:active .menu-2 {
  display: block;
}
.menu-2 li{
  list-style-type: none;
  font-size: 14px;
  width: 100%!important;
}
.menu-2 li a{
  width: 100%;
  height: 100%;
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 13px;
  display: inline-block;
  -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    text-transform: none!important;
}

.menu li {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}
.menu li:hover {
  background-color: #ff6b02;
}
.menu li a {
 color: #fff;
}
.menu li:hover a{
  color: white;
  text-decoration: none;
}
.top-btn img {
  width:30px;
  position:absolute;
  bottom:20px;
  right:20px;
  -webkit-filter: grayscale(100%)brightness(3);
  filter: grayscale(100%)brightness(3);
}
.menu_opened {
  opacity: 1;
}
.menu2 li {
  width: 100%!important;
}
.top-btn button {
  position: absolute;
  width: 30px;
  outline: none;

  height: 30px;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
  margin-top: 12px;
}

.top-btn button div {
  height: 0px;
  border: 0.5px solid #fff;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  background:#fff;
}



.top-btn div:nth-child(1) {
  top: 0px;
}

.top-btn div:nth-child(2) {
  top: 8px;
}

.top-btn div:nth-child(3) {
  top: 16px;
}

.top-btn div:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: '';
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 0.25px;
}





.top-btn button:active div {
  border: 1.5px solid #fff;
  height: 0px;
  border-radius: 0%;
  margin-left: -1px;
  margin-top: 6px;
  animation: division 300ms linear 1;
  width: 25px;
  top: 0px;

}



.banner-top a {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline;
}
.banner-top a:hover {
  color: #fff;
  text-decoration: none;
}

.banner-top, .banner-top .text-wrap {
  height: 730px;
}
.banner-top2, .banner-top2 .text-wrap {
  height: 430px;
}
.banner-top .text-wrap,
.banner-top2 .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
.banner-top .text-inner,
.banner-top2 .text-inner {
  display: table-cell;
  vertical-align: middle;
}


header{
  background: url(../img/top-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-text h1{
  font-size: 50px;
  font-weight: normal;
  color: #fff;
  line-height: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.banner-text h1 span{
  font-weight: bold;
}
.banner-text h2 {
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  line-height: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.btn-top-banner {
  padding: 14px 38px;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
   background: linear-gradient(to right, #ff6b02, #ff4e00);
   border: none;
   margin-top: 70px;

}
.f-btn {
  float: none!important;
}
.btn-top-banner i {
  position: relative;
  right: -17px;
  display: inline-block;
  -webkit-transition: right .5s;
   transition: right .5s;
}
.btn-top-banner:hover i {
  right: -25px;

}
.btn-top-banner:hover {
  -webkit-box-shadow: 0px 0px 53px -1px rgba(255,107,2,1);
-moz-box-shadow: 0px 0px 53px -1px rgba(255,107,2,1);
box-shadow: 0px 0px 53px -1px rgba(255,107,2,1);
}
.banner-low-block {
  background-image: url(../img/border.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 330px;
  margin: 70px auto;
}
.banner-low-block p {
  color: #fff;
  position: relative;
  margin: 0 auto;
  top: -5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
font-size: 15px;
text-transform: uppercase;
}

.banner-low-block img {
  display: block;
  margin-bottom: -40px;
  height: 40px;
  margin: 0 auto;
  bottom: -20px;
  position: relative;
}
.text-h1 {
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
}
.video-h1 {
  font-size: 55px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 55px;
  text-align: right;
  padding-right: 70px;
  text-transform: uppercase;
}
.video-p {
  text-align: right;
font-family: "Myriad Pro";
padding-right: 70px;
font-size: 14px;
padding-bottom: 65px;
line-height: 18px;
}
.content {
  background-color: #0a0b16;
  padding: 80px 0;
}
.content-text h3 {
  text-align: left!important;
  color: #fff;
  margin-bottom: 20px;
}
.content-text p {
  text-align: left!important;
  color: #fff;
  margin: 20px;
}
.content-text img{
 display: inline-block;
 margin: 0 auto;
}
.btn-lang button{
  width: 35px;
    margin: 8px 5px;
    color: #fff;
    text-align: center;
    border: none;
    padding: 0;
    background-color: inherit;

}
.btn-lang button img {
  width: 35px;
}
.btn-lang:hover button {
      background-image: url(../img/social-bg2.png);
      color: #fff;
}
.dropdown-menu {
  min-width: 35px!important;
  max-width: 36px!important;
    margin: 8px 5px;
    padding: 0;
    left: 10px;
}
.dropdown-menu > li > a {
  padding: 0;
  color: #fff;
  font-weight: bold;
}
.text-p {
font-family: "Myriad Pro";
padding-top: 25px;
font-size: 14px;

line-height: 18px;
}
.text-p a {
  color: #ff3b3b;
}
.text-h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.video-top div {
  position: relative;
  top: -60px;
  -webkit-box-shadow: -8px 11px 31px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 11px 31px -8px rgba(0,0,0,0.75);
box-shadow: -8px 11px 31px -8px rgba(0,0,0,0.75);
}
.advantages,.advantages2 {
  padding-bottom: 150px;
  padding-top: 60px;
}
.bg-block-1 {
  background-image: url(../img/bg-block-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.flex-box {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:center;

}
.flex-column {
  text-align: center;
  width: 190px;
  margin: 0 10px;
  margin-top: 110px;
}
.flex-column2 {
  text-align: center;
  width: 195px;
  margin: 0 15px;
  margin-top: 110px;
}
.metamask1 {
  margin-top: -90px;
  text-align: center;
}
.metamask-h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}
.metamask-h1 span {
  color: #ff9100;
}
.metamask {
  background-image: url(../img/bg-meta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.metamask-p {
  font-family: "Myriad Pro";
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-top: 25px;
}
.btn-metamask {
  width: 225px;
  padding: 25px 0;
  padding-left: 55px;
  margin: 40px auto 55px;
  background: url(../img/btn.png) center no-repeat;
  background-size: contain;
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
  -webkit-transition: width .5s;
   transition: width .5s;
}
.btn-metamask:hover {
  width: 240px;
  text-decoration: none;
  color: #fff;
}
.btn-metamask img {
  margin-left: -70px;
}
.advantages2 {
  background-image: url(../img/bg-block-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.doble-m {
  text-align: left;
  position: relative;
  top: -100px;
  display: inline-block;
}
.doble-m img {
  padding-right: 20px;
}
.apps {
  text-align: left;
  padding-left: 160px;
  color: #fff;
  display: inline-block;
}
.apps-h {
  font-size: 25px;
  font-weight: 600;

}
.apps-p {
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
}
.apps-a a{
 padding-right: 20px;
 margin-top: 20px;
}
.apps-a {
   margin-top: 20px;
}
.f-logo {
  margin-top: -48px;
  width: 240px;
}
footer {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 50px;
}
@media  (min-width: 1200px) {
  .dropdown-menu {
    left: 10px;
  }
}
 @media  (min-width: 991px) {
   #nofox {
     display: none;
   }
 }
 @media  (max-width: 992px){
   .nav-forum .forum-btn {
     float: left;
   }
   #fox {
     display: none;
   }
   .apps {
     padding-left: 15px;
   }
   .dropdown-menu {
     left: 0;
   }
   .doble-m img {
     padding: 0;
   }
   .video-h1 {
     font-size: 48px;
     padding-top: 40px;
     line-height: 45px;
   }
   .advantages{
     padding-top: 40px;
   }
   .top-logo {
     left: 43%;
   }
   #fox svg {
     width: 290px;
   }
 }
 @media  (max-width: 768px) {
   .video-h1,.video-p  {
      padding-right: 0;
     text-align: center;
   }
   .social-icons {
     margin-top: 30px;
   }
   .flex-column,.flex-column2 {
     margin-top: 70px;
   }
   .dropdown-menu {
     left: 20px;
   }
   .f-section-2 {
     margin-top: 60px;
   }
   .nav-forum .forum-btn {
     margin-left: 10px;
   }
   .apps {
     margin-top: 40px;
   }
   .social-icons {
     float: none;
   }
   .nav-forum .forum-btn {
     float: right;
   }

 }
  @media  (max-width: 700px) {
.dropdown-menu {
  left: 10px;
}
  }
 @media  (max-width: 500px) {
   .top-logo {
     left: 34%;
   }
   .banner-text h1 {
     font-size: 36px;
   }
   .banner-text h2 {
     font-size: 28px;
   }
   .dropdown-menu {
     left: 0px;
   }
   .btn-top-banner {
     padding: 11px 28px;
     font-size: 15px;
   }
   .video-h1 {
     font-size: 36px;
   }
   .video-p {
     padding-bottom: 95px;
   }
   .text-h1 {
     font-size: 45px;
   }
   .advantages2 {
     padding-top: 70px;
   }
   .menu {
     left: 5px;
     width:350px;
   }
   .menu li {
     font-size: 14px;
     line-height: 35px;
   }
   .menu-2 li a {
     font-size: 12px!important;
     line-height: 13px!important;
   }
   .menu-2 li {
     line-height: 13px!important;
   }
   .float-xs-btn {
     float: right;
   }
 }
 @media  (max-width: 410px) {

 }
@media  (max-width: 410px) {
  .top-logo {
    left: 34%;
  }
  .nav-forum .forum-btn{
    font-size: 12px;
    width: 100px;
  }
  .f-logo {
    margin-top: 0;
  }
}
@media  (max-width: 450px) {

}

@media  (max-width: 360px) {
  .bb {
    display: none;
  }
  .banner-text h1 {
    font-size: 30px;
  }
  .menu {
    width: 312px;
  }
  .banner-low-block {
    width: 300px;
  }
  .btn-lang button {
    margin-right: 0;
    padding-right: 10px;
  }

}
